@font-face {
  font-family: 'Open Sans';
  src: url("../vendors/OpenSans-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fafafa;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  text-align: center;
}

header h1 {
  font-size: 34px;
  margin-bottom: 20px;
}

header h2 {
  font-size: 18px;
}

.container {
  width: 960px;
  margin: 0px auto;
  padding: 20px;
}

#add-form {
  margin-top: 40px;
  text-align: center;
}

#add-form input[type="text"] {
  padding: 9px 10px;
  border-radius: 4px;
  width: 47%;
  border: 1px solid #444;
  background: #eee;
}

#add-form button {
  margin-left: 2px;
  border-radius: 4px;
  font-size: 17px;
  border: 2px solid #00ad53;
  color: #fff;
  width: 10%;
  box-shadow: none;
  background: #00ad53;
  border: none;
  padding: 8px;
}

#task-heading:after {
  content: "";
  display: block;
  clear: both;
}

#task-heading li {
  width: 50%;
  float: left;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

#task-heading li:first-of-type {
  width: 10%;
}

#task-heading li:last-of-type {
  width: 27%;
  border-right: none;
}

.task {
  font-weight: normal;
  font-size: 16px;
}

.task:after {
  content: "";
  display: block;
  clear: both;
}

.task li {
  width: 50%;
  float: left;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 10px;
}

.task li:first-of-type {
  width: 10%;
}

.task li:last-of-type {
  width: 27%;
  border-right: none;
}

.task li:nth-of-type(2) p {
  width: 90%;
  text-align: left;
  display: inline-block;
}

.task li:nth-of-type(2) input[type="checkbox"] {
  width: 10%;
  display: inline-block;
}

.task li:nth-of-type(2) input[type="text"] {
  width: 90%;
}

.task li:last-of-type {
  padding: 6px;
}

.task button {
  width: 34%;
  padding: 4px;
}

.task button span {
  display: inline-block;
}

.task button:first-of-type {
  margin-left: 2px;
  border-radius: 4px;
  font-size: 17px;
  border: 2px solid #ffc107;
  color: #fff;
  background: #ffc107;
  margin-right: 16px;
}

.task button:last-of-type {
  margin-left: 2px;
  border-radius: 4px;
  font-size: 17px;
  border: 2px solid tomato;
  color: #fff;
  background: tomato;
}

#manage-tasks {
  margin-top: 30px;
}

#manage-tasks button {
  margin-left: 2px;
  border-radius: 4px;
  font-size: 17px;
  border: 2px solid #00ad53;
  color: #fff;
  background: #00ad53;
  padding: 8px;
}
