@import "variables";
@import "mixins";


@font-face {
  font-family: 'Open Sans';
  src: url("../vendors/OpenSans-Regular.ttf");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #fafafa;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
}

header{
  text-align: center;
  h1{
    font-size: 34px;
    margin-bottom: 20px;
  }
  h2{
    font-size: 18px;
  }
}

.container{
  width: 960px;
  margin: 0px auto;
  padding: 20px;
}

#add-form{
  margin-top: 40px;
  text-align: center;

  input[type="text"]{
    padding: 9px 10px;
    border-radius: 4px;
    width: 47%;
    border: 1px solid #444;
    background: #eee;
  }

  button{
    @include button-style($checkButton);
    width: 10%;
    box-shadow: none;
    background: $checkButton;
    border: none;
    padding: 8px;
  }
}

#task-heading{
  @include clearfix;
  li{
    @include task-dimension;

    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 0;
  }

}

.task{
  font-weight: normal;
  font-size: 16px;
  @include clearfix;
  li{
    @include task-dimension;
    padding: 10px;
    &:nth-of-type(2) p{
      width: 90%;
      text-align: left;
      display: inline-block;
    }
    &:nth-of-type(2) input[type="checkbox"]{
      width: 10%;
      display: inline-block;
    }
    &:nth-of-type(2) input[type="text"]{
      width: 90%;
    }
    &:last-of-type{
      padding: 6px;
    }
  }
}

.task button{
  width: 34%;
  padding: 4px;
  span{
    display: inline-block;

  }
  &:first-of-type{
    @include button-style($edit);
    background: $edit;
    margin-right: 16px;
  }
  &:last-of-type{
    @include button-style($delete);
    background: $delete;

  }
}


#manage-tasks{
  margin-top: 30px;
  button{
    @include button-style($checkButton);
    background: $checkButton;
    padding: 8px;
  }
}
