@mixin button-style($buttonColor){
  margin-left: 2px;
  border-radius: 4px;
  font-size: 17px;
  border: 2px solid $buttonColor;
  color: $buttonText;
}

@mixin task-dimension{
  width: 50%;
  float: left;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;

  &:first-of-type{
    width: 10%;
  }
  &:last-of-type{
    width: 27%;
    border-right: none;
  }
}

@mixin clearfix{
  &:after{
    content: "";
    display: block;
    clear: both;
  }
}
