@mixin button-style{
  padding: 8px 8px;
  margin-left: 2px;
  border-radius: 4px;
  font-size: 17px;
  border: 2px solid $checkButton;
  color: $buttonText;
}

@mixin task-dimension{
  width: 50%;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  border-right: 1px solid #000;

  &:first-of-type{
    width: 10%;
  }
  &:last-of-type{
    width: 28%;
    border-right: none;
  }
}
